@using AspNetCoreDemo.Models;
@using Microsoft.AspNetCore.Http;
@model PaginatedList<Comment>
@{
    this.ViewData["Title"] = "World Travel Forum - Comments";
}
@{
    Comment commentDetail = this.Model.FirstOrDefault();
    var isLogged = Context.Session.Keys.Contains("LoggedUser");
    var loggedUserId = this.Context.Session.GetInt32("UserId");
    var isBlocked = Context.Session.GetString("IsBlocked");
    var isAdmin = Context.Session.GetString("IsAdmin");
}
<form asp-controller="Comments" asp-action="Filter" method="get">
    @*| <a asp-controller="Home" asp-action="Index">@commentDetail.Post.Category.Name</a>
    > <a asp-controller="Posts" asp-action="Index">@commentDetail.Post.Title</a>
    <span style="margin-right:35%"></span>*@
    @if (isLogged & isBlocked != "True")
    {
        <label class="form-label"> Find user: </label>
        <input type="text" name="Username" placeholder="" />
        <input type="submit" value="Search" class="btn btn-primary" />
        @*<a asp-controller="Comments" asp-action="Create" asp-route-id="@commentDetail.PostId" class="btn btn-primary"> ADD A NEW COMMENT </a>*@
    }
</form>

</br>
<table class="table-responsive">
    <colgroup>
        <col style="width: 8%"> <!-- Adjust the width value as needed -->
        <col style="width: 70%">
    </colgroup>
    <table class="table table-bordered table-condensed table-hover">
        <thead class="table-dark">
            <tr>
                <th class="text-center">Username</th>
                <th class="text-center">Content</th>
            </tr>
        </thead>
        <tbody>
            @{
                @if(isLogged){
                foreach (var comment in this.Model)
                {
                    <tr>
                        <td>

                            Created by:<br />
                            <a asp-controller="Users" asp-action="Index" asp-route-Username="@comment.CreatedBy.Username">@comment.CreatedBy.Username</a>
                            <br />
                            @comment.DateTime
                        </td>
                        <td>
                            @comment.Content
                            <br /><br />
                            @comment.LikesCount
                            @if (isLogged)
                            {
                                <a asp-controller="Comments" asp-action="Like" asp-route-id="@comment.Id" class="btn btn-warning">Like</a>
                            }
                            @if (isLogged & isBlocked != "True")
                            {
                                <a asp-controller="Comments" asp-action="CreateReply" asp-route-id="@comment.Id" class="btn btn-primary"> Reply </a>
                            }
                            @if (isLogged & comment.UserId == loggedUserId)
                            {
                                <a asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id" class="btn btn-warning"> Edit </a>
                                <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-danger"> Delete </a>
                            }
                            else if (isAdmin == "True")
                            {
                                <a asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id" class="btn btn-warning"> Edit </a>
                                <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-danger"> Delete </a>
                            }
                        </td>
                    </tr>
                }
                }
            }
        </tbody>
    </table>
    @{
        string prevButtonState = this.Model.HasPrevPage ? "" : "disabled";
        string nextButtonState = this.Model.HasNextPage ? "" : "disabled";
    }
    <a asp-controller="Comments" asp-action="Filter" asp-route-Username="@commentDetail.CreatedBy.Username" asp-route-PageNumber="@(this.Model.PageNumber - 1)" class="btn btn-link @prevButtonState">Prev</a>
    @{
        int currentPageNumber = this.Model.PageNumber;

        for (int i = 1; i <= this.Model.TotalPages; i++)
        {
            if (i == currentPageNumber)
            {
                <span>@i</span>
            }
            else
            {
                <span><a asp-controller="Comments" asp-action="Filter" asp-route-Username="@commentDetail.CreatedBy.Username" asp-route-PageNumber="@i">@i</a></span>
            }
        }
    }
    <a asp-controller="Comments" asp-action="Filter" asp-route-Username="@commentDetail.CreatedBy.Username" asp-route-PageNumber="@(this.Model.PageNumber + 1)" class="btn btn-link @nextButtonState">Next</a>
