@using AspNetCoreDemo.Models;
@using Microsoft.AspNetCore.Http;
@using Business.QueryParameters;
@model CommentSearchModel
@{
    this.ViewData["Title"] = "World Travel Forum - Comments";
}
@{
    var isLogged = Context.Session.Keys.Contains("LoggedUser");
    var loggedUserId = this.Context.Session.GetInt32("UserId");
    var isBlocked = Context.Session.GetString("IsBlocked");
    var isAdmin = Context.Session.GetString("IsAdmin");
    var username = Context.Session.GetString("Username");
}
@{
    var parameters = new Dictionary<string, string>
    {
         {"Username", Model.CommentQueryParameters.Username}
    };
}
<form asp-controller="Comments" asp-action="Filter" method="get">
   
    @if (isLogged)
    {
        <label class="form-label"> Find user by username: </label>
        <input type="text" name="Username" placeholder="Username" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-controller="Comments" asp-action="Filter" class="btn btn-primary"> ALL </a>
    }
</form>
<span class="form-label">The results by username: @this.Model.CommentQueryParameters.Username</span>
</br></br>
<table class="table-responsive">
    <table class="table table-bordered table-condensed table-hover">
        <thead class="table-dark">
            <tr>
                <th class="text-center" style="height: 40px; width: 15%;">Username</th>
                <th class="text-center" style="height: 40px; width: 85%;">Content</th>
            </tr>
        </thead>
        <tbody>
            @{
                @if(isLogged){
                foreach (var comment in this.Model.Comments)
                {
                    <tr>
                        <td>
                            Created by:<br />
                            <a asp-controller="Users" asp-action="Index" asp-route-Username="@comment.CreatedBy.Username">@comment.CreatedBy.Username</a>
                            <br />
                            @comment.DateTime
                        </td>
                        <td>
                            @comment.Content
                            <br /><br />
                            @comment.LikesCount
                            @if (isLogged)
                            {
                                <a asp-controller="Comments" asp-action="Like" asp-route-id="@comment.Id" class="btn btn-warning">Like</a>
                            }
                            @if (isLogged & isBlocked != "True")
                            {
                                <a asp-controller="Comments" asp-action="CreateReply" asp-route-id="@comment.Id" class="btn btn-primary"> Reply </a>
                            }
                            @if (isLogged & comment.UserId == loggedUserId)
                            {
                                <a asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id" class="btn btn-warning"> Edit </a>
                                <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-danger"> Delete </a>
                            }
                            else if (isAdmin == "True")
                            {
                                <a asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id" class="btn btn-warning"> Edit </a>
                                <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-danger"> Delete </a>
                            }
                        </td>
                    </tr>
                }
                }
            }
        </tbody>
    </table>
    @{
        string prevButtonState = this.Model.Comments.HasPrevPage ? "" : "disabled";
        string nextButtonState = this.Model.Comments.HasNextPage ? "" : "disabled";
    }
    
    <a asp-controller="Comments" asp-action="Filter" asp-all-route-data="@parameters" asp-route-PageNumber="@(this.Model.Comments.PageNumber - 1)" class="btn btn-link @prevButtonState">Prev</a>
   
    @{
        int currentPageNumber = this.Model.CommentQueryParameters.PageNumber;

        for (int i = 1; i <= this.Model.Comments.TotalPages; i++)
        {
            if (i == currentPageNumber)
            {
                <span>@i</span>
            }
            else
            {
                <span><a asp-controller="Comments" asp-action="Filter" asp-all-route-data="@parameters" asp-route-PageNumber="@i">@i</a></span>
            }
        }
    }
    <a asp-controller="Comments" asp-action="Filter" asp-all-route-data="@parameters" asp-route-PageNumber="@(this.Model.Comments.PageNumber + 1)" class="btn btn-link @nextButtonState">Next</a>
