@model List<CommentGetViewModel>
@{
    CommentGetViewModel commentMenu = this.Model[0];
    var isLogged = Context.Session.Keys.Contains("LoggedUser");
    var loggedUserId = this.Context.Session.GetInt32("UserId");
}


<h5>
    | <a asp-controller="Home" asp-action="Index">@commentMenu.CategoryName</a>
    > <a asp-controller="Posts" asp-action="Index">@commentMenu.PostTitle</a>
</h5>

<div></div>
    <div>
    <a asp-controller="Comments" asp-action="Create" asp-route-id="@commentMenu.PostId" class="btn btn-primary"> ADD A NEW COMMENT </a>
    </div>

@{
    this.ViewData["Title"] = "World Travel Forum";
}


</br>
<div class="table">
    <div class="header">
        <div class="header-cell">Username</div>
        <div class="header-cell">Content</div>
        <div class="header-cell">DateTime</div>
        <div class="header-cell">Likes</div>
        <div class="header-cell">Actions</div>

    </div>

    @{
        foreach (var comment in this.Model)
        {
            <div class="row">
                <div width="20px" class="cell">@comment.Username</div>
                <div class="cell">
                @comment.Content
                </div>
                <div class="cell">@comment.DateTime</div>
                
                <div class="cell">
                    @comment.LikesCount
                    |
                    @if (isLogged)
                    {
                        <a asp-controller="Comments" asp-action="Like" asp-route-id="@comment.Id" class="btn btn-warning">Like</a>
                    }
                </div>
                 <div class="cell">
                    @if (isLogged)
                    {
                     <a asp-controller="Comments" asp-action="CreateReply" asp-route-id="@comment.Id" class="btn btn-primary"> Reply </a>
                    }
                    @if(isLogged & comment.UserId==loggedUserId)
                    {
                     <a asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id" class="btn btn-warning"> Edit </a>
                     <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-danger"> Delete </a>
                    }
                    </div>
            </div>

        }
    }
</div>
