
@{
    this.ViewData["Title"] = "World Travel Forum - Home";
    var isLogged = Context.Session.Keys.Contains("LoggedUser");
    var isAdmin = Context.Session.GetString("IsAdmin");
}

    <div class="body-content">
        <h2>Welcome to WORLD TRAVEL FORUM</h2>
    </div>

<div class="card-columns" style="display: flex; justify-content: flex-end; position: absolute; top: 100px; right: 20px;">
    <div class="card" style="width: 300px;">
        <div class="card-body" style="display: flex; flex-direction: column; align-items: flex-start;">
            <img class="card-img-top" src="~/Images/Traveller.jpg" alt="Card image cap" style="width: 100%;">
            <h5 class="card-title" style="font-style: italic;">
                <span style="font-weight: bold;">"He who does not travel does not know the value of men."</span>
                <span style="font-size: 14px; font-style: italic; color: #999;"> - Moorish Proverb</span>
            </h5>
                <p class="card-text">Registered users: @this.Model.UsersCount</p>
                <p class="card-text">Posts created: @this.Model.PostsCount</p>
             
        </div>
    </div>
</div>
        <h2>Categories</h2>

        <div class="table">
            <div class="header">
                <div class="header-cell">Name</div>
                <div class="header-cell">Description</div>
            </div>
            <</div>

            @{
            foreach (var category in this.Model.Categories)
            {
            <div class="row">
                <div class="cell">
                    @category.Name<br /><br />
                    Posts: @category.CountPosts<br />
                    Comments: @category.CountComments
                </div>
                <div class="cell">
                    @category.Description<br /><br />
                
                @if(isLogged)
                {
                    <a asp-controller="Posts" asp-action="Index" asp-route-categoryId="@category.Id" class="btn btn-primary"> Posts </a>
                }
                    @if (isLogged & isAdmin == "True")
                    {
                        <a asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning"> Edit </a>
                        <a asp-controller="Categories" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger"> Delete </a>
                    }
                </div>
            </div>
            }
            }
    
     <div>
    <br />
        @if (isLogged & isAdmin == "True")
                {
                   <h3><a asp-controller="Categories" asp-action="Create" class="btn btn-primary">Add a new category</a></h3>
                }
    </div>

    @{
        string prevButtonState = this.Model.Categories.HasPrevPage ? "" : "disabled";
        string nextButtonState = this.Model.Categories.HasNextPage ? "" : "disabled";
    }

    <a asp-controller="Home" asp-action="Index" asp-route-PageNumber="@(this.Model.Categories.PageNumber - 1)" class="btn btn-link @prevButtonState">Prev</a>
    @{
        int currentPageNumber = this.Model.Categories.PageNumber;

        for (int i = 1; i <= this.Model.Categories.TotalPages; i++)
        {
            if (i == currentPageNumber)
            {
                <span>@i</span>
            }
            else
            {
                <span><a asp-controller="Home" asp-action="Index" asp-route-PageNumber="@i">@i</a></span>
            }
        }
    }
    <a asp-controller="Home" asp-action="Index" asp-route-PageNumber="@(this.Model.Categories.PageNumber + 1)" class="btn btn-link @nextButtonState">Next</a>
