@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
﻿@using ForumManagementSystem.Models
@model List<Category>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>World Travel Forum - Home</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div>
            <h3>
                <!-- using tag helpers -->
                <a asp-controller="Home" asp-action="Index" class="nav">Home</a>
                | <a asp-controller="Users" asp-action="Index" class="nav">Users</a>
                | <a asp-controller="Home" asp-action="Index" class="nav">Categories</a>
                | <a asp-controller="Posts" asp-action="Index" class="nav">Posts</a>
                | <a href="/swagger/index.html" class="nav">Developer API</a>
            </h3>
        </div>
    </header>

    <div class="body-content">
        <h2><img src="~/images/WTF.jpg" style="width:50px;height:40px;">WELCOME TO WORLD FORUM TRAVEL</h2>

    </div>

    <div class="body-content">
        <h2>Categories</h2>

        <div class="table">
            <div class="header">
                <div class="header-cell">Name</div>
                <div class="header-cell">Description</div>
                <div class="header-cell">Posts</div>
                <div class="header-cell">Comments</div>
            </div>

            @{
            foreach (var category in this.Model)
            {
            <div class="row">
            <div class="cell">@category.Name</div>
            <div class="cell">@category.Description</div>
            <div class="cell">@category.CountPosts</div>
            <div class="cell">@category.CountComment</div>
            <div class="cell">
            <a href="@($"/home/{category.Id}")" class="nav">POSTS</a>
            </div>
            </div>
            }
            }
        </div>
    </div>



    <footer>
        <small>© Copyright @DateTime.Now.Year, World Travel Forum</small>
    </footer>
</body>
</html>

