﻿

@{
    this.ViewData["Title"] = "World Travel Forum - Home";
    var isLogged = Context.Session.Keys.Contains("LoggedUser");
    var isAdmin = Context.Session.GetString("IsAdmin");
}

    <div class="body-content">
        <h2><img src="~/images/WTF.jpg" style="width:50px;height:40px;">WELCOME TO WORLD FORUM TRAVEL</h2>
    </div>

   
        <h2>Categories</h2>

        <div class="table">
            <div class="header">
                <div class="header-cell">Name</div>
                <div class="header-cell">Description</div>
            </div>

            @{
            foreach (var category in this.Model)
            {
            <div class="row">
                <div class="cell">
                    @category.Name<br /><br />
                    Posts: @category.CountPosts<br />
                    Comments: @category.CountComments
                </div>
                <div class="cell">
                    @category.Description<br /><br />
                
                @if(isLogged)
                {
                    <a asp-controller="Posts" asp-action="Index" asp-route-categoryId="@category.Id" class="btn btn-primary"> Posts </a>
                }
                    @if (isLogged & isAdmin == "True")
                    {
                        <a asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning"> Edit </a>
                        <a asp-controller="Categories" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger"> Delete </a>
                    }
                </div>
            </div>
            }
            }
    
     <div>
    <br />
        @if (isLogged & isAdmin == "True")
                {
                   <h3><a asp-controller="Categories" asp-action="Create" class="btn btn-primary">Add a new category</a></h3>
                }
    </div>

    @{
        string prevButtonState = this.Model.HasPrevPage ? "" : "disabled";
        string nextButtonState = this.Model.HasNextPage ? "" : "disabled";
    }

    <a asp-controller="Home" asp-action="Index" asp-route-PageNumber="@(this.Model.PageNumber - 1)" class="btn btn-link @prevButtonState">Prev</a>
    @{
        int currentPageNumber = this.Model.PageNumber;

        for (int i = 1; i <= this.Model.TotalPages; i++)
        {
            if (i == currentPageNumber)
            {
                <span>@i</span>
            }
            else
            {
                <span><a asp-controller="Home" asp-action="Index" asp-route-PageNumber="@i">@i</a></span>
            }
        }
    }
    <a asp-controller="Home" asp-action="Index" asp-route-PageNumber="@(this.Model.PageNumber + 1)" class="btn btn-link @nextButtonState">Next</a>
