@{
    this.ViewData["Title"] = "World Travel Forum - Top Ten Posts";
}

<div class="body-content">
    <h2>Welcome to WORLD TRAVEL FORUM</h2>
</div>

        <div class="text-left mb-3">
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Categories</a>
            <a asp-controller="Home" asp-action="TopTen" class="btn btn-secondary">Top <span class="text h5 font-weight-bold text-white">10</span> posts</a>
            <a asp-controller="Home" asp-action="LatestTen" class="btn btn-secondary">Latest <span class="text h5 font-weight-bold text-white">10</span> posts</a>
        </div>

<div class="table-responsive">
    <table class="table-sm table-bordered table-condensed table-hover">
        <thead class="table-dark">
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Title</th>
                <th class="text-center">Content</th>
                <th class="text-center">Likes</th>
                <th class="text-center">Comments</th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = (this.Model.PageNumber - 1) * 5 + 1;

                foreach (var post in this.Model)
                {
                    <tr>
                        <td class="text-center" style="width: 5%">@index</td>
                        <td style="width: 15%">@post.Title</td>
                        <td style="width: 20%">
                            <div>
                                @if (post.Content.Length > 50)
                                {
                                    <span>@post.Content.Substring(0, 50)</span>
                                    <span>...</span>

                                }
                                else
                                {
                                    <span>@post.Content</span>
                                }
                            </div>
                        </td>
                        <td class="text-center" style="width: 5%">@post.PostLikesCount</td>
                        <td class="text-center" style="width: 5%">@post.PostCommentsCount</td>
                    </tr>
                    index++;
                }
            }
        </tbody>
    </table>
</div>
@{
    string prevButtonState = this.Model.HasPrevPage ? "" : "disabled";
    string nextButtonState = this.Model.HasNextPage ? "" : "disabled";
}

<a asp-controller="Home" asp-action="LatestTen" asp-route-PageNumber="@(this.Model.PageNumber-1)" class="btn btn-link @prevButtonState">Prev</a>
@{
    int currentPageNumber = this.Model.PageNumber;

    for (int i = 1; i <= this.Model.TotalPages; i++)
    {
        if (i == currentPageNumber)
        {
            <span>@i</span>
        }
        else
        {
            <span><a asp-controller="Home" asp-action="LatestTen" asp-route-PageNumber="@i">@i</a></span>
        }
    }
}
<a asp-controller="Home" asp-action="LatestTen" asp-route-PageNumber="@(this.Model.PageNumber+1)" class="btn btn-link @nextButtonState">Next</a>

