@model User


<title> @this.Model.Username</title>

<body>
	<div class="body-content">
		<h2>Username: @this.Model.Username</h2>

		<p class="margin12">Firstname: @this.Model.FirstName</p>
		<p class="margin12">Lastname: @this.Model.LastName</p>
		<p class="margin12">Email: @this.Model.Email</p>
		<p class="margin12">Phone number: @this.Model.PhoneNumber</p>
		<p class="margin12">Address: @this.Model.Address</p>
		<p class="margin12">Country: @this.Model.Country</p>
		<p class="margin12">Date of birth: @this.Model.DateOfBirth</p>
			@{
				if (this.Model.IsAdmin)
				{
					<p class="form-label">Admin</p>
				}
				if (this.Model.IsBlocked)
				{
					<p class="form-label">Blocked user</p>
				}
			}
		
		<a href="/Users/Index" class="nav">Go Back</a>
	</div>

</body>