@using Microsoft.AspNetCore.Http;
@model List<User>


@{
    this.ViewData["Title"] = "World Travel Forum - Users";
    var isLogged = Context.Session.Keys.Contains("LoggedUser");
    var loggedUserId = this.Context.Session.GetInt32("UserId");
    var loggedUser = this.Context.Session.GetString("IsAdmin");
}

<body>

    <div class="body-content">
        <h2>Users</h2>

        <div class="table">
            <div class="header">
                <div class="header-cell">Firstname</div>
                <div class="header-cell">Lastname</div>
                <div class="header-cell">Email</div>
                <div class="header-cell">Username</div>
                <div class="header-cell">Actions</div>
            </div>

            @{
                foreach (var user in this.Model)
                {
                    <div class="row">
                        <div class="cell">@user.FirstName</div>
                        <div class="cell">@user.LastName</div>
                        <div class="cell">@user.Email</div>
                        <div class="cell">@user.Username</div>
                        <div class="cell">
                            <a asp-controller="Users" asp-action="Details" asp-route-id="@user.Id" class="btn btn-primary"> Details </a>
                            @if (loggedUser == "True")
                            {
                                <span>| </span>
                                <a asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning"> Edit </a>
                                <span>| </span>
                                <a asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger"> Delete </a>
                            }
                          
                        </div>
                    </div>
                }
            }
        </div>
    </div>

</body>
