@model UserUpdateProfileViewModel

@{
    this.ViewData["Title"] = "World Travel Forum - Update Profile Information";
    var fullName = string.Concat(this.Context.Session.GetString("FirstName"), " ", this.Context.Session.GetString("LastName"));
}

@{
    if (ViewData["ErrorMessage"] != null)
    {
        <h3><p class="text-danger">@ViewData["ErrorMessage"]</p></h3>
    }
}

<script>
    function PreviewImage(ID) {
        var preview = document.getElementById("ProductImage");
        var file = document.getElementById("ImageFile").files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            // Load image as a base64 encoded URI
            reader.readAsDataURL(file);
        }
        else {
            preview.src = "";
        }
    }

</script>

<div class="container rounded bg-white">
    <form asp-controller="Users" asp-action="Profile" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-md-6">
                <table>
                    <tr>
                        <td>
                            <label asp-for="@Model.FirstName" class="form-label"></label>
                            <input asp-for="FirstName" type="text" class="form-input" placeholder="First name"/>
                            <span asp-validation-for="FirstName" class="form-error"></span>
                        </td>
                        <td style="padding-left: 30px;">
                            <label asp-for="@Model.LastName" class="form-label"></label>
                            <input asp-for="LastName" type="text" class="form-input" placeholder="Last name"/>
                            <span asp-validation-for="LastName" class="form-error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="@Model.PhoneNumber" class="form-label"></label>
                            <input asp-for="PhoneNumber" type="text" class="form-input" placeholder="Enter phone number"/>
                            <span asp-validation-for="PhoneNumber" class="form-error"></span>
                        </td>
                        <td style="padding-left: 30px;">
                            <label asp-for="@Model.Email" class="form-label"></label>
                            <input asp-for="Email" type="text" class="form-input" placeholder="Enter a valid email"/>
                            <span asp-validation-for="Email" class="form-error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="@Model.Country" class="form-label"></label>
                            <input asp-for="Country" type="text" class="form-input" placeholder="Enter your country"/>
                            <span asp-validation-for="Country" class="form-error"></span>
                        </td>
                        <td style="padding-left: 30px;">
                            <label asp-for="@Model.Address" class="form-label"></label>
                            <input asp-for="Address" type="text" class="form-input" placeholder="Enter your address"/>
                            <span asp-validation-for="Address" class="form-error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="@Model.NewPassword" class="form-label"></label>
                            <input asp-for="NewPassword" type="password" class="form-input" placeholder="Change password"/>
                            <span asp-validation-for="NewPassword" class="form-error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="@Model.DateOfBirth" class="form-label" class="mt-4"></label>
                            <input asp-for="DateOfBirth" type="date" class="form-input" placeholder="Enter your date of birth"/>
                            <span asp-validation-for="DateOfBirth" class="form-error"></span>
                        </td>
                        <br/>
                        <br/>
                        <td>
                            <div class="mt-4 ml-lg-5">
                                <div>
                                    <img src="@Url.Content("~/UploadedImages/" + fullName + ".png")" height="100" width="100" id="ProductImage" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label asp-for="@Model.ImageFile" class="form-label"></label>
                            <div class="custom-file">
                                <input asp-for="ImageFile" class="custom-file-input" id="ImageFile" name="ImageFile" onchange="PreviewImage()" type="file" />
                                <label class="custom-file-label" for="ImageFile">No file chosen</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
           
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-primary" type="submit">Save Profile</button>
            <div style="height: 20px;"></div>
        </div>
    </form>
</div>
