@model UserUpdateProfileViewModel

@{
    this.ViewData["Title"] = "World Travel Forum - Update Profile Information";
}

<div class="container rounded bg-white">
    <form asp-controller="Users" asp-action="Profile" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-md-6">
                <table>
                    <tr>
                        <td>
                            <label asp-for="@Model.FirstName" class="form-label"></label>
                            <input asp-for="FirstName" type="text" class="form-input" placeholder="First name" value="" />
                            <span asp-validation-for="FirstName" class="form-error"></span>
                        </td>
                        <td style="padding-left: 30px;">
                            <label asp-for="@Model.LastName" class="form-label"></label>
                            <input asp-for="LastName" type="text" class="form-input" placeholder="Last name" value="" />
                            <span asp-validation-for="LastName" class="form-error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="@Model.PhoneNumber" class="form-label"></label>
                            <input asp-for="PhoneNumber" type="text" class="form-input" placeholder="Enter phone number" value="" />
                            <span asp-validation-for="PhoneNumber" class="form-error"></span>
                        </td>
                        <td style="padding-left: 30px;">
                            <label asp-for="@Model.Email" class="form-label"></label>
                            <input asp-for="Email" type="text" class="form-input" placeholder="Enter a valid email" value="" />
                            <span asp-validation-for="Email" class="form-error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="@Model.Country" class="form-label"></label>
                            <input asp-for="Country" type="text" class="form-input" placeholder="Enter your country" value="" />
                            <span asp-validation-for="Country" class="form-error"></span>
                        </td>
                        <td style="padding-left: 30px;">
                            <label asp-for="@Model.Address" class="form-label"></label>
                            <input asp-for="Address" type="text" class="form-input" placeholder="Enter your address" value="" />
                            <span asp-validation-for="Address" class="form-error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="@Model.Password" class="form-label"></label>
                            <input asp-for="Password" type="password" class="form-input" placeholder="Enter your current password" value="" />
                            <span asp-validation-for="Password" class="form-error"></span>
                        </td>
                        <td style="padding-left: 30px;">
                            <label asp-for="@Model.NewPassword" class="form-label"></label>
                            <input asp-for="NewPassword" type="password" class="form-input" placeholder="Change password" value="" />
                            <span asp-validation-for="NewPassword" class="form-error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="@Model.DateOfBirth" class="form-label" class="mt-4"></label>
                            <input asp-for="DateOfBirth" type="date" class="form-input" placeholder="Enter your date of birth" value="" />
                            <span asp-validation-for="DateOfBirth" class="form-error"></span>
                        </td>
                        <br/>
                        <br/>
                        <td>
                            <div class="mt-4 ml-lg-5">
                                <div>
                                    <img src="@Url.Content("~/UploadedImages/" + Model.FirstName)" height="100" width="100" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label asp-for="@Model.ImageFile" class="form-label"></label>
                            <div class="custom-file">
                                <input asp-for="ImageFile" class="custom-file-input" id="ImageFile" name="ImageFile" onchange="previewImage()" type="file" />
                                <label class="custom-file-label" for="ImageFile">No file chosen</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
           
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-primary" type="submit">Save Profile</button>
            <div style="height: 20px;"></div>
        </div>
    </form>
</div>
