@using ForumManagementSystem.Models
@model Post

@{
	this.ViewData["Title"] = "World Travel Forum - Details";
}

		<h2> @this.Model.Title</h2>

		<p class="margin12">Title: @this.Model.Title</p>
		<p class="margin12">Content: @this.Model.Content</p>
		<p class="margin12">User: @this.Model.CreatedBy.Username</p>
		<p class="margin12">Category: @this.Model.Category.Name</p>


		@{
			foreach (var comment in Model.Comments)
			{
				<div> 
				        @comment.Content
				</div>
			}
		}

		<a href="/Posts/Index" class="nav">Go Back</a>
