@model List<Post>

@{
    this.ViewData["Title"] = "World Travel Forum - Posts";
    var isLogged = Context.Session.Keys.Contains("LoggedUser");
}


    <div class="body-content">
        <h2>Posts</h2>

        @if (isLogged)
    {
       @* <h3><a asp-controller="Posts" asp-action="Create" class="header-cell">Create a new post</a></h3>
        <br/>*@
        <a asp-controller="Posts" asp-action="Create" class="btn btn-primary">Create</a>
        <a asp-controller="Posts" asp-action="Index" asp-route-tag="Bmw" class="btn btn-primary">Tags</a>
        <a asp-controller="Posts" asp-action="Category" class="btn btn-primary">Category</a>
    }

        <div class="table">
            <div class="header">
                
                <div class="header-cell">Username</div>
                <div class="header-cell">Title</div>
                <div class="header-cell">Content</div>
  
            <div class="header-cell">Likes</div>
            <div class="header-cell">Actions</div>
            <div class="header-cell">Comments</div>
            </div>

            @{
                foreach (var post in this.Model)
                {
                <div class="row">
                        <div class="cell">@post.CreatedBy.Username</div>
                        <div class="cell">@post.Title</div>
                        <div> @post.Content</div>
                
                        <div class="cell">
                            @post.PostLikesCount
                            | <a asp-controller="Posts" asp-action="Like" asp-route-id="@post.Id" class="btn btn-warning"> Like </a>
                        </div>
                    
                        <div class="cell">
                            <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id" class="btn btn-primary">View</a>
                            | <a asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-warning">Edit</a>
                            | <a asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-danger">Delete</a>
                        </div>
                    <div>
                        <a asp-controller="Comments" asp-action="Index" asp-route-id="@post.Id" class="btn btn-primary">Comments</a>
                         | <a asp-controller="Comments" asp-action="Create" asp-route-id="@post.Id" class="btn btn-primary">New Comment</a>
                    </div>
                        
                    </div>
                }
            }
        </div>
    </div>
